<%- include('partials/header') %>


<div class=" centered">
  <div class="">
    <i class="fas fa-user-secret fa-6x"></i>
    <h1 class=" txtdpth">Secrets</h1>
    <p style="font-size:x-large;">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg sbmt" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg sbmt" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
