<%- include('partials/header') %>

<!-- Navbar -->
<nav class="bg-gray-200 shadow-md py-2 px-6">
  <div class="container mx-auto flex justify-between items-center">

    <!-- Logo / Brand -->
    <div class="flex items-center text-2xl font-bold text-gray-800">
    <i class="fas fa-user-secret text-gray-600 text-5xl mr-3"></i>

      Secrets
    </div>


    <!-- Navigation Links -->
    <div class="flex space-x-6 rounded-md  bg-gray-600 hover:bg-gray-900">
      <a
        href="/secrets"
        class="text-white py-2 px-6 text-lg font-medium  hover:no-underline active:scale-95 transition-all duration-150 ease-in-out cursor-pointer"
      >
        Home
      </a>
      <!-- Add more links here if needed -->
    </div>

    <a href="/logout" role="button"
            class="w-auto sm:w-auto px-6 py-2 bg-gray-300 border border-gray-300 text-gray-800 hover:text-gray-100 font-semibold rounded-md hover:bg-gray-400 no-underline hover:no-underline">
            Log Out
          </a>

  </div>
</nav>



<%- include('partials/footer') %>