
body {
  background-color: #0ce6b6;
  margin:40px;
}

.jumbotron{
  background-color: #ADD8E6;
  height: 100vh;
}
 .discoverer{
  display: flex;
  justify-content: space-between;
 }
.discover_sc{
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap:50px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.177);
  border-radius: 10px;
}
.discoverSecret{
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap:20px
}
.sub_secret{
  display: flex;
  flex-direction: column;
  gap:10px
}
.centered {
    padding-top: 20px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 1rem;
  color: #0ce6b6;
  
  
}

.sbmt{
  box-shadow: 5px 5px 5px #000000bb;
}
.txtdpth{
  text-shadow: 5px 5px 25px #000000bb;
  font-size: 30px;
}
 
.bracket {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
  margin-top: 2rem;
  
}

.secret-card {
  background-color: #0f0f0f;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  max-height: 300px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  overflow-y: auto;
}
.sec_icon{
  height: 20px;
  margin: 5px;
}
.sec-text{
  display: flex;
  justify-content: center;
  height: 250px; /* Adjust this based on design */
    /* Enables vertical scrolling */
  padding: 10px;
  
}





/*
.se{
  flex-wrap: wrap;
  padding: 20px;
  width: 350px;
  height: 400px;
  gap: 10px;
  justify-self: center;
  align-items: center;
  border: solid 1px #110;
  border-radius: 15px;
  
} */