
body {
  background-color: #6fe8b8;
  margin:40px;
}

.jumbotron{
  background-color: #ADD8E6;
  height: 100vh;
}
/* home */
.sub-text{
  font-size: 1.25rem;
  color: #6c757d;

}

 .discoverer{
  display: flex;
  justify-content: space-between;
 }
.discover_sc{
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap:50px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.177);
  border-radius: 10px;
}
.discoverSecret{
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap:20px
}
.sub_secret{
  display: flex;
  flex-direction: column;
  gap:10px
}
.centered {
    padding-top: 20px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 1rem;
  color: #0ce6b6;
  
  
}

.sbmt{
  box-shadow: 5px 5px 5px #000000bb;
}

 
.bracket {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
  margin-top: 2rem;
  
}

 .secret-card {
    /* background-color: #0c3d3c; */
    /* border: 1px solid #e5e7eb; */
    padding: 1rem;
    /* border-radius:  1rem 1rem 0 0; */
    text-align: center;
    color: #111827;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }

  .ghost {
    color: #4B5563; /* gray-600 */
    font-size: 2rem;
  }

  .secret-text {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #d5deeb; /* gray-800 */
  }

  .custom-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.logview{
  font-size: 1rem;
  height: 40px;
}


/* Ensure the container fits within mobile screens */
@media (max-width: 600px) {
  
  /* home */
  /* .sub-text{
    font-size: 2rem !important;
  } */

  .logview{
  font-size: 2.5rem !important;
  height: 70px;
  
}
  .display-3 {
    font-size: 3rem; /* Reduce heading size */
  }
  
  .fa-user-secret {
    font-size: 4rem; /* Smaller icon */
  }

  

  .d-flex {
    flex-direction: column !important; /* Ensure buttons stack vertically */
  }

  .btn-lg {
    width: 100%; /* Full-width buttons for mobile */
  }

}